* {
    margin: 5px;
    padding: auto;
    box-sizing: border-box;
.clearfix:after {
    content:"";
    display: table;
    clear: both;
}
}
h1,h2{
    font-family: fantasy Arial;
    color: red
}
h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
h2 {

    font-size: 30px;
    margin-bottom: 10px;
}
p {
    font-size: 19px;
    font-family: Helvetica;
    align-items: center;
    margin-bottom: 20px;
}
.Main-text{
    text-align: justify;
}
.less-text{
    text-align: center;
}
#churot-logo{
    text-align: justify;
    font-size: 23px;
}
.container {
    width: 1140px;
    margin: 20px,auto,0px,auto;
}

.blogpost {
        width: 75%;
        float: left;
        padding-right: 30px;
}
.other-post {
    width: 25%;
    float: left;
}
.author-detail {
    border-top: 1px solid #810000;
}