* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    background-color: white;
    color: gray;
    font-family: 'Lato' 'Aerial' 'sans-serif';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
.row {
    max-width: 1140px;
    margin: 0 auto;
}


header
 {
    height: 100vh;
     background-size: cover;
     background-position: center;
     text-align: center;
     



 }
 
 here-text-box {
     position: absolute;
     width: 1140px;
     top
 }

 h1 {
    width: 250px;
    height: 75px;
    padding: 10px 10px 10px 10px;
    border: 5px solid black;
    margin: 10px 10px 10px 10px;
 }
