* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    background-color: white;
    color: gray;
    font-family: 'Lato' 'Aerial' 'sans-serif';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
.row {
    max-width: 1140px;
    margin: 0 auto;
}


header
 {
     background-image: url(img/css-background.jpg);
     height: 100vh;
     background-size: cover;
     background-position: center;


 }
 
 here-text-box {
     position: absolute;
     width: 1140px;
     top
 }

 h1 {
     margin: 0;
 }
